.wave-header{
    background-image: url(../../assets/ship_wave_bg.png);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 188px;
    margin-top: -100px;
    padding: 16px;
}