.desktop-header{
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;

    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(16px);

    padding: 8px;
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 8px 0px #000000; 
    box-shadow: 0px 4px 8px 0px #000000;


    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    > img{
        width: 60px;
    }
    > h1{
        font-size: 20px;
    }
}

.desktop-nav{
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav-btn{
    color: var(--text-col);
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}
.nav-btn.active{
    color: var(--primary-col)
}

@media only screen and (max-width: 540px){
    .desktop-header{
        display: none;
    }
}