.auth-layout{
    display: flex;

    >.hero-banner{
        flex: 1;
    }

}

.auth-form-column{
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 550px){
    .auth-layout{
        flex-direction: column;
        min-height: 100vh;
    }
    .hero-banner{
        min-height: 0px;
        max-height: 200px;
    }
}

.auth-form{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 32px;
    gap: 8px;
}
.auth-input{
    padding: 4px;
}
.toggle-section{
    display: flex;
    justify-content: space-between;
}

.toggle-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.toggle-btn{
    color: var(--primary-col);
    border: none;
    background: none;
    font-weight: 800;
    cursor: pointer;
}