.hero-banner{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;

    flex-direction: column;
    gap: 4px;
    text-shadow: 0px 4px 4px black;
    
    text-align: center;
    > h1{
        font-size: clamp(20px, 4vw ,40px);
    }
    > h2{
        font-size: clamp(13px, 2vw ,26px);
    }
}

